<div class="col-12 col-sm-10 col-md-8 mx-auto">
  <div class="col-1 float-left">
    <button (click)="monthDown()" class="btn btn-outline-success"><</button>
  </div>
  <div class="col-10 float-left">
    <h2 class="text-center">
      {{month | number:'2.0-2'}}.{{year}}r. <span [className]="sumPriceTransactionList(transactionListFilter) > 0 ? 'text-success' : 'text-danger'">Suma: {{sumPriceTransactionList(transactionListFilter) | currency:'zł':'symbol':'1.2-2':'fr'}}</span>
    </h2>
  </div>
  <div class="col-1 float-left px-auto">
    <button (click)="monthUp()" class="btn btn-outline-success">></button>
  </div>
</div>
<div class="col-12 table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">data zawarcia transakcji</th>
      <th scope="col">data rozpoczęcia</th>
      <th scope="col">data zakończenia</th>
      <th scope="col">użytkownik</th>
      <th scope="col">oferty</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactionListFilter; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <th scope="row">{{ transaction.id }}</th>
      <td>
        <mat-form-field>
          <mat-label>data zawarcia transakcji:</mat-label><br/>
          <input [(ngModel)]="transaction.prepareTransaction" [value]="" [disabled]="true" matInput [matDatepicker]="transactionPrepareTransaction"  placeholder="date">
          <mat-datepicker-toggle  matSuffix [for]="transactionPrepareTransaction"></mat-datepicker-toggle>
          <mat-datepicker #transactionPrepareTransaction></mat-datepicker>
        </mat-form-field>
        <!-- <input [(ngModel)]="transaction.prepareTransaction" class="form-control"> -->
      </td>
      <td>
        <mat-form-field>
          <mat-label>data rozpoczęcia:</mat-label><br/>
          <input [(ngModel)]="transaction.startTransaction" [value]="" [disabled]="true" matInput [matDatepicker]="transactionStartTransaction"  placeholder="date">
          <mat-datepicker-toggle  matSuffix [for]="transactionStartTransaction"></mat-datepicker-toggle>
          <mat-datepicker #transactionStartTransaction></mat-datepicker>
        </mat-form-field>
        <!-- <input [(ngModel)]="transaction.startTransaction" class="form-control"> -->
      </td>
      <td>
        <mat-form-field>
          <mat-label>data zakończenia:</mat-label><br/>
          <input [(ngModel)]="transaction.stopTransaction" [value]="" [disabled]="true" matInput [matDatepicker]="transactionStopTransaction"  placeholder="date">
          <mat-datepicker-toggle  matSuffix [for]="transactionStopTransaction"></mat-datepicker-toggle>
          <mat-datepicker #transactionStopTransaction></mat-datepicker>
        </mat-form-field>
        <!-- <input [(ngModel)]="transaction.stopTransaction" class="form-control"> -->
      </td>
      <td>
        <div class="form-group">
          <label>{{transaction.user.eMail}}</label>
          <!-- <select [(ngModel)]="transaction.user" class="form-control">
            <option [ngValue]="u" *ngFor="let u of users" [selected]="transaction.user.id === u.id">{{u.id}} {{u.eMail}}</option>
          </select> -->
        </div>
      </td>
      <td>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">narty</th>
            <th scope="col">ceny podstawowa</th>
            <th scope="col">ceny</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let o of transaction.offerSkiList; index as i">
            <th scope="row">{{ o.id }}</th>
            <td>
              <label>{{o.ski.producer.name}} {{o.ski.name}} {{o.ski.lengthSki}}cm</label>
            </td>
            <td>
              <label>{{o.priceForDay | currency:'zł/dzień':'symbol':'1.2-2':'fr'}}</label>
            </td>
            <td>
              <label>{{sumPriceOfferSki(transaction.startTransaction, transaction.stopTransaction, o) | currency:'zł':'symbol':'1.2-2':'fr'}}</label>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <th scope="row"></th>
            <td class="text-right">
              <label>suma:</label>
            </td>
            <td>
              <label>{{sumPriceTransaction(transaction) | currency:'zł':'symbol':'1.2-2':'fr'}}</label>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>