<div class="form-group">
  <label>treść:</label>
  <textarea [(ngModel)]="newNotificationCompany.description" class="form-control" ></textarea>
</div>
<div class="form-group">
  <label>użytkownik:</label>
  <select [(ngModel)]="newNotificationCompany.user" class="form-control">
    <option [ngValue]="u" *ngFor="let u of users">{{u.eMail}}</option>
  </select>
</div>
<div class="form-group">
  <label>firma:</label>
  <select [(ngModel)]="newNotificationCompany.company" class="form-control">
    <option [ngValue]="c" *ngFor="let c of companies">{{c.name}}</option>
  </select>
</div>
<button (click)="addNotificationCompany()" class="btn btn-secondary">add</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">id</th>
    <th scope="col">treść</th>
    <th scope="col">użytkownik</th>
    <th scope="col">firma</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let nc of notificationCompanies; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <th scope="row">{{ nc.id }}</th>
    <td>
      <textarea [(ngModel)]="nc.description" [disabled]="disabledEdit[i]" class="form-control"></textarea>
    </td>
    <td>
      <div class="form-group">
        <select [(ngModel)]="nc.user" [disabled]="disabledEdit[i]" class="form-control">
          <option [ngValue]="u" *ngFor="let u of users" [selected]="nc.user.id === u.id">{{u.eMail}}</option>
        </select>
      </div>
    </td>
    <td>
      <div class="form-group">
        <select [(ngModel)]="nc.company" [disabled]="disabledEdit[i]" class="form-control">
          <option [ngValue]="c" *ngFor="let c of companies" [selected]="nc.company.id === c.id">{{c.name}}</option>
        </select>
      </div>
    </td>
    <td>
      <button (click)="makeEnabledEdit(i)" *ngIf="disabledEdit[i]" class="btn btn-secondary">edit</button>
      <button (click)="save(i)" *ngIf="!disabledEdit[i]" class="btn btn-primary">save</button>
    </td>
    <td>
      <button (click)="delete(i)" [disabled]="!disabledEdit[i]" class="btn btn-danger">usuń</button>
    </td>
  </tr>
  </tbody>
</table>

