<button (click)="addTransaction()" class="btn btn-outline-success">dodaj</button>
<label>Wybrane oferty:</label>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">data rozpoczęcia</th>
    <th scope="col">data zakończenia</th>
    <th></th>
    <th scope="col">narty</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let t of transactionList; index as iT">
    <th scope="row">{{ iT + 1 }}</th>
    <th scope="row">
      <mat-form-field>
        <mat-label>data rozpoczęcia:</mat-label><br/>
        <input [(ngModel)]="t.startTransaction" [value]="" matInput [matDatepicker]="topOffer"  placeholder="date">
        <mat-datepicker-toggle  matSuffix [for]="topOffer"></mat-datepicker-toggle>
        <mat-datepicker #topOffer></mat-datepicker>
      </mat-form-field>
    </th>
    <th scope="row">
      <mat-form-field>
        <mat-label>data zakończenia:</mat-label><br/>
        <input [(ngModel)]="t.stopTransaction" [value]="" matInput [matDatepicker]="tartOffer"  placeholder="date">
        <mat-datepicker-toggle  matSuffix [for]="tartOffer"></mat-datepicker-toggle>
        <mat-datepicker #tartOffer></mat-datepicker>
      </mat-form-field>
    </th>
    <td>
      <button (click)="delTransaction(iT)" class="btn btn-outline-danger">usuń</button>
    </td>
    <td>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="col">id</th>
            <th scope="col">narty</th>
            <th scope="col">ceny podstawowa</th>
            <th scope="col">ceny</th>
            <th scope="col"></th>
          </tr>
          <tr *ngFor="let o of t.offerSkiList; index as iOS">
            <th scope="row">{{ o.id }}</th>
            <td>
              <label>{{o.ski.producer.name}} {{o.ski.name}} {{o.ski.lengthSki}}cm</label>
            </td>
            <td>
              <label>{{o.priceForDay}} zł/dzień</label>
            </td>
            <td>
              <label>{{sumPriceOfferSki(t.startTransaction, t.stopTransaction, o)}} zł</label>
            </td>
            <td>
              <button (click)="delOfferSkiFromTransaction(iT, iOS)" class="btn btn-outline-danger">x</button>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <th scope="row"></th>
            <td class="text-right">
              <label>suma:</label>
            </td>
            <td>
              <label>{{sumPriceTransaction(t)}} zł</label>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </tr>
  </tbody>
</table>