<div class="col-md-12 col-lg-3 float-left position-fixed-lg border border-dark rounded-bottom shadow py-3 mt-3">
  <div class="form-group">
    <label>nazwa:</label>
    <input [(ngModel)]="newProducer.name" class="form-control" />
  </div>
  <button (click)="addProducer()" class="btn btn-outline-success">dodaj</button>
</div>

<div class="col-md-12 offset-lg-3 col-lg-9 float-left table-responsive mt-3">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">nazwa producenta</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let producer of producers; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <th scope="row">{{ producer.id }}</th>
      <td>
        <input [(ngModel)]="producer.name" [disabled]="disabledEdit[i]" class="form-control">
      </td>
    </tr>
    </tbody>
  </table>
</div>