<div class="col-md-12 col-lg-3 float-left position-fixed-lg border border-dark rounded-bottom shadow py-3">
  <div class="form-group">
    <label>nazwa:</label>
    <input [(ngModel)]="newUnit.name" class="form-control" />
  </div>
  <button (click)="addUnit()" class="btn btn-outline-success">dodaj</button>
</div>

<div class="col-md-12 offset-lg-3 col-lg-9 float-left table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">nazwa</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unit of units; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <th scope="row">{{ unit.id }}</th>
        <td>
          <input [(ngModel)]="unit.name" [disabled]="disabledEdit[i]" class="form-control">
        </td>
        <td>
          <button (click)="makeEnabledEdit(i)" *ngIf="disabledEdit[i]" class="btn btn-outline-warning">edytuj</button>
          <button (click)="save(i)" *ngIf="!disabledEdit[i]" class="btn btn-outline-success">zapisz</button>
        </td>
        <td>
          <button (click)="delete(i)" [disabled]="!disabledEdit[i]" class="btn btn-outline-danger">usuń</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>