<nav class="navbar navbar-expand-lg navbar-dark bg-green ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [routerLinkActive]="['active']" id="navbarTogglerDemo01">
    <a class="col-1 navbar-brand" [routerLink]="['/admin']">
      <img class="col-12" src="../../assets/img/logo.png" alt="logo"/>
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['admin-user-list']">Użytkownicy</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['admin-company-list']">Firmy</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['admin-unit-list']">Jednostki</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['admin-price-list']">Ceny</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['admin-producer-list']">Producenci</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['admin-ski-list']">Narty</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['admin-offer-ski-list']">Oferty</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['admin-transaction-list']">Transakcje</a>
      </li>
      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Skargi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['admin-notification-user-list']">na użytkowników</a>
          <a class="dropdown-item" [routerLink]="['admin-notification-company-list']">na firmy</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-0 mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin']">Witaj {{currentUser.firstName}} {{currentUser.lastName}}!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

