<div class="col-md-12 col-lg-3 float-left position-fixed-lg border border-dark rounded-bottom shadow py-3">
  <div class="form-group">
    <mat-form-field>
      <mat-label>data zawarcia transakcji:</mat-label><br/>
      <input [(ngModel)]="newTransaction.prepareTransaction" [value]="" matInput [matDatepicker]="newTransactionPrepareTransaction"  placeholder="date">
      <mat-datepicker-toggle  matSuffix [for]="newTransactionPrepareTransaction"></mat-datepicker-toggle>
      <mat-datepicker #newTransactionPrepareTransaction></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field >
      <mat-label>data rozpoczęcia - zakończenia</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label>użytkownik:</label>
    <select [(ngModel)]="newTransaction.user" class="form-control">
      <option [ngValue]="u" *ngFor="let u of users">{{u.eMail}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>oferta nart:</label>
    <select [(ngModel)]="offerSkiLocal" class="form-control">
      <option [ngValue]="os" *ngFor="let os of offerSkis">{{os.ski.producer.name}} {{os.ski.name}} {{os.ski.lengthSki}}cm</option>
    </select>
    <button (click)="addOfferSkisLocal()" class="btn btn-outline-success my-3">dodaj narty</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">narty</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let o of offerSkiListLocal; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <label>{{o.ski.producer.name}} {{o.ski.name}} {{o.ski.lengthSki}}cm</label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <button (click)="addTransaction()" class="btn btn-outline-success my-3">dodaj transakcje</button>
</div>

<div class="col-md-12 offset-lg-3 col-lg-9 float-left table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">data zawarcia transakcji</th>
      <th scope="col">data rozpoczęcia /<br /> data zakończenia</th>
      <th scope="col">użytkownik</th>
      <th scope="col">oferty</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactions; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <th scope="row">{{ transaction.id }}</th>
      <td>
        <mat-form-field>
          <mat-label>data zawarcia transakcji:</mat-label><br/>
          <input [(ngModel)]="transaction.prepareTransaction" [value]="" [disabled]="disabledEdit[i]" matInput [matDatepicker]="transactionPrepareTransaction"  placeholder="date">
          <mat-datepicker-toggle  matSuffix [for]="transactionPrepareTransaction"></mat-datepicker-toggle>
          <mat-datepicker #transactionPrepareTransaction></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>data rozpoczęcia:</mat-label><br/>
          <input [(ngModel)]="transaction.startTransaction" [value]="" [disabled]="disabledEdit[i]" matInput [matDatepicker]="transactionStartTransaction"  placeholder="date">
          <mat-datepicker-toggle  matSuffix [for]="transactionStartTransaction"></mat-datepicker-toggle>
          <mat-datepicker #transactionStartTransaction></mat-datepicker>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>data zakończenia:</mat-label><br/>
          <input [(ngModel)]="transaction.stopTransaction" [value]="" [disabled]="disabledEdit[i]" matInput [matDatepicker]="transactionStopTransaction"  placeholder="date">
          <mat-datepicker-toggle  matSuffix [for]="transactionStopTransaction"></mat-datepicker-toggle>
          <mat-datepicker #transactionStopTransaction></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <div class="form-group">
          <select [(ngModel)]="transaction.user" [disabled]="disabledEdit[i]" class="form-control">
            <option [ngValue]="u" *ngFor="let u of users" [selected]="u.id === transaction.user.id">{{u.id}} {{u.eMail}}</option>
          </select>
        </div>
      </td>
      <td>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">narty</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let o of transaction.offerSkiList; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <label>{{o.ski.producer.name}} {{o.ski.name}} {{o.ski.lengthSki}}cm</label>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <button (click)="makeEnabledEdit(i)" *ngIf="disabledEdit[i]" class="btn btn-outline-warning">edit</button>
        <button (click)="save(i)" *ngIf="!disabledEdit[i]" class="btn btn-outline-primary">save</button>
      </td>
      <td>
        <button (click)="delete(i)" [disabled]="!disabledEdit[i]" class="btn btn-outline-danger">usuń</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>