<div class="col-md-12 col-lg-3 float-left position-fixed-lg border border-dark rounded-bottom shadow py-3">
  <div class="form-group">
    <label>miejscowość:</label>
    <input [(ngModel)]="newOfferSki.city" class="form-control" />
  </div>
  <div class="form-group">
    <label>ilość:</label>
    <input [(ngModel)]="newOfferSki.quantity" class="form-control" />
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>data rozpoczęcia:</mat-label><br/>
      <input [(ngModel)]="newOfferSki.startOffer" [value]="" matInput [matDatepicker]="tartOffer"  placeholder="date">
      <mat-datepicker-toggle  matSuffix [for]="tartOffer"></mat-datepicker-toggle>
      <mat-datepicker #tartOffer></mat-datepicker>
    </mat-form-field>
    <!-- <label>data rozpoczęcia:</label>
    <input [(ngModel)]="startOffer" class="form-control" /> -->
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>data zakończenia:</mat-label><br/>
      <input [(ngModel)]="newOfferSki.stopOffer" [value]="" matInput [matDatepicker]="topOffer"  placeholder="date">
      <mat-datepicker-toggle  matSuffix [for]="topOffer"></mat-datepicker-toggle>
      <mat-datepicker #topOffer></mat-datepicker>
    </mat-form-field>
    <!-- <label>data zakończenia:</label>
    <input [(ngModel)]="stopOffer" class="form-control" /> -->
  </div>
  <div class="form-group">
    <label>cena:</label>
    <select [(ngModel)]="newOfferSki.price" class="form-control">
      <option [ngValue]="p" *ngFor="let p of prices">{{p.value}}zł {{p.unit.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>firma:</label>
    <select [(ngModel)]="newOfferSki.company" class="form-control">
      <option [ngValue]="c" *ngFor="let c of companies">{{c.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>narta:</label>
    <select [(ngModel)]="newOfferSki.ski" class="form-control">
      <option [ngValue]="s" *ngFor="let s of skis">{{s.producer.name}} {{s.name}}</option>
    </select>
  </div>
  <button (click)="addOfferSki()" class="btn btn-outline-success">dodaj</button>
</div>

<div class="col-md-12 offset-lg-3 col-lg-9 float-left table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">miejscowość</th>
      <th scope="col">ilość</th>
      <th scope="col">data rozpoczęcia / <br /> data zakończenia</th>
      <!-- <th scope="col">data zakończenia</th> -->
      <th scope="col">cena</th>
      <th scope="col">firma</th>
      <th scope="col">narty</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let offerSki of offerSkis; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <th scope="row">{{ offerSki.id }}</th>
      <td>
        <input [(ngModel)]="offerSki.city" [disabled]="disabledEdit[i]" class="form-control">
      </td>
      <td>
        <input [(ngModel)]="offerSki.quantity" [disabled]="disabledEdit[i]" class="form-control">
      </td>
      <td>
        <mat-form-field>
          <mat-label>data rozpoczęcia:</mat-label><br/>
          <input [(ngModel)]="offerSki.startOffer" [value]="" [disabled]="disabledEdit[i]" matInput [matDatepicker]="tartOffer"  placeholder="date">
          <mat-datepicker-toggle  matSuffix [for]="tartOffer"></mat-datepicker-toggle>
          <mat-datepicker #tartOffer></mat-datepicker>
        </mat-form-field>
        <!-- <input [(ngModel)]="offerSki.startOffer" [disabled]="disabledEdit[i]" class="form-control"> -->
      <!-- </td>
      <td> -->
        <br />
        <mat-form-field>
          <mat-label>data zakończenia:</mat-label><br/>
          <input [(ngModel)]="offerSki.stopOffer" [value]="" [disabled]="disabledEdit[i]" matInput [matDatepicker]="topOffer"  placeholder="date">
          <mat-datepicker-toggle  matSuffix [for]="topOffer"></mat-datepicker-toggle>
          <mat-datepicker #topOffer></mat-datepicker>
        </mat-form-field>
        <!-- <input [(ngModel)]="offerSki.stopOffer" [disabled]="disabledEdit[i]" class="form-control"> -->
      </td>
      <td>
        <div class="form-group">
          <select [(ngModel)]="offerSki.price" [disabled]="disabledEdit[i]" class="form-control">
            <option [ngValue]="p" *ngFor="let p of prices" [selected]="offerSki.price.id === p.id">{{p.value}}zł {{p.unit.name}}</option>
          </select>
        </div>
      </td>
      <td>
        <div class="form-group">
          <select [(ngModel)]="offerSki.company" [disabled]="disabledEdit[i]" class="form-control">
            <option [ngValue]="c" *ngFor="let c of companies" [selected]="offerSki.company.id === c.id">{{c.name}}</option>
          </select>
        </div>
      </td>
      <td>
        <div class="form-group">
          <select [(ngModel)]="offerSki.ski" [disabled]="disabledEdit[i]" class="form-control">
            <option [ngValue]="s" *ngFor="let s of skis" [selected]="offerSki.ski.id === s.id">{{s.producer.name}} {{s.name}}</option>
          </select>
        </div>
      </td>
      <td>
        <button (click)="makeEnabledEdit(i)" *ngIf="disabledEdit[i]" class="btn btn-outline-warning">edytuj</button>
        <button (click)="save(i)" *ngIf="!disabledEdit[i]" class="btn btn-outline-success">zapisz</button>
      </td>
      <td>
        <button (click)="delete(i)" [disabled]="!disabledEdit[i]" class="btn btn-outline-danger">usuń</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>