<div class="col-12 col-lg-3 float-left position-fixed-lg border border-dark rounded-bottom shadow py-3 mt-3">
  <div class="form-group">
    <label>miejscowość:</label>
    <input [(ngModel)]="newOfferSki.city" class="form-control" />
  </div>
  <div class="form-group">
    <label>ilość:</label>
    <p>
      <input [(ngModel)]="newOfferSki.quantity" class="form-control mr-0 d-inline-block">
    </p>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>data rozpoczęcia:</mat-label><br/>
      <input [(ngModel)]="newOfferSki.startOffer" [value]="" matInput [matDatepicker]="tartOffer"  placeholder="date">
      <mat-datepicker-toggle  matSuffix [for]="tartOffer"></mat-datepicker-toggle>
      <mat-datepicker #tartOffer></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>data zakończenia:</mat-label><br/>
      <input [(ngModel)]="newOfferSki.stopOffer" [value]="" matInput [matDatepicker]="topOffer"  placeholder="date">
      <mat-datepicker-toggle  matSuffix [for]="topOffer"></mat-datepicker-toggle>
      <mat-datepicker #topOffer></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label>cena:</label>
    <p>
      <input [(ngModel)]="newOfferSki.priceForDay" class="form-control w-75 mr-0 d-inline-block"> zł/dzień
    </p>
  </div>
  <div class="form-group">
    <label>narta:</label>
    <select [(ngModel)]="newOfferSki.ski" class="form-control">
      <option [ngValue]="s" *ngFor="let s of skis">{{s.producer.name}} {{s.name}}</option>
    </select>
  </div>
  <button (click)="addOfferSki()" class="btn btn-outline-success">dodaj</button>
</div>

<div class="col-12 offset-lg-3 col-lg-9 float-left table-responsive mt-3">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">miejscowość</th>
      <th scope="col">data rozpoczęcia</th>
      <th scope="col">data zakończenia</th>
      <th scope="col">ilość</th>
      <th scope="col">cena</th>
      <th scope="col">narty</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let offerSki of offerSkis; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <th scope="row">{{ offerSki.id }}</th>
      <td>
        <input [(ngModel)]="offerSki.city" [disabled]="disabledEdit[i]" class="form-control">
      </td>
      <td>
        <mat-form-field>
          <mat-label>data rozpoczęcia:</mat-label><br/>
          <input [(ngModel)]="offerSki.startOffer" [value]="" [disabled]="true" matInput [matDatepicker]="tartOffer"  placeholder="date">
          <mat-datepicker-toggle  matSuffix [for]="tartOffer"></mat-datepicker-toggle>
          <mat-datepicker #tartOffer></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>data zakończenia:</mat-label><br/>
          <input [(ngModel)]="offerSki.stopOffer" [value]="" [disabled]="true" matInput [matDatepicker]="topOffer"  placeholder="date">
          <mat-datepicker-toggle  matSuffix [for]="topOffer"></mat-datepicker-toggle>
          <mat-datepicker #topOffer></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <div class="form-group">
          <p>
            <input [(ngModel)]="offerSki.quantity" [disabled]="disabledEdit[i]" class="form-control w-50 mr-0 d-inline-block">
          </p>
        </div>
      </td>
      <td>
        <div class="form-group">
          <p>
            <input [(ngModel)]="offerSki.priceForDay" [disabled]="disabledEdit[i]" class="form-control w-50 mr-0 d-inline-block"> zł/dzień
          </p>
        </div>
      </td>
      <td>
        <div class="form-group">
          <select [(ngModel)]="offerSki.ski" [disabled]="disabledEdit[i]" class="form-control">
            <option [ngValue]="s" *ngFor="let s of skis" [selected]="offerSki.ski.id === s.id">{{s.producer.name}} {{s.name}}</option>
          </select>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>