/* You can add global styles to this file, and also import other style files */
.bg-green {
  background-color: #8cc63f;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.position-fixed-lg{
  position: fixed!important;
}

@media only screen and (max-width: 991px) {
  .position-fixed-lg{
    position: static!important;
  }
}
