/* You can add global styles to this file, and also import other style files */
.bg-green {
  background-color: #8cc63f;
}

.bg-black-opacity{
  background-color: rgba(71, 71, 71, .5);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.position-fixed-lg{
  position: fixed!important;
}

.img-in-div{
  background-position: center;
  background-repeat: no-repeat;
}

.profil-img-size{
  width: 125px!important;
  height: 125px!important;
}

.font-size{
  font-size: .9em;
}

@media only screen and (max-width: 991px) {
  .position-fixed-lg{
    position: static!important;
  }
}
