<div class="col-md-12 col-lg-3 float-left position-fixed-lg border border-dark rounded-bottom shadow py-3 overflow-auto" style="max-height: 75%;">
  <div class="form-group">
    <label>nazwa:</label>
    <input [(ngModel)]="newCompany.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>uprawnienia:</label>
    <select [(ngModel)]="newCompany.active" class="form-control">
      <option [ngValue]="true">Aktywna</option>
      <option [ngValue]="false">Nieaktywna</option>
    </select>
  </div>
  <div class="form-group">
    <label>opis:</label>
    <textarea [(ngModel)]="newCompany.description" class="form-control" ></textarea>
  </div>
  <button (click)="addCompany()" class="btn btn-outline-success">dodaj</button>
</div>

<div class="col-md-12 offset-lg-3 col-lg-9 float-left table-responsive">
  <table class="table table-hover">
    <thead>
    <tr >
      <th scope="col">id</th>
      <th scope="col" style="max-width: 150px;">nazwa</th>
      <th scope="col">aktywna</th>
      <th scope="col">opis</th>
      <th scope="col">zdjęcie profilowe</th>
      <th ></th>
      <th ></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies; index as i">
        <th scope="row">{{company.id}}</th>
        <td style="max-width: 150px;" class="float-left">
          <input [(ngModel)]="company.name" [disabled]="disabledEdit[i]" class="form-control" >
        </td>
        <td>
          <div class="form-group">
            <select [(ngModel)]="company.active" [disabled]="disabledEdit[i]" class="form-control">
              <option [ngValue]="true"  [selected]="company.active === true">Aktywna</option>
              <option [ngValue]="false"  [selected]="company.active === false">Nieaktywna</option>
            </select>
          </div>
        </td>
        <td> 
          <textarea [(ngModel)]="company.description" [disabled]="disabledEdit[i]" class="form-control"></textarea>
        </td>
        <td>
          <div class="form-group float-left" style="max-width: 150px;">
            <div class="col-xl-1" *ngIf="company.profilePicture!=null; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <div>
                <div class="position-relative rounded-circle img-thumbnail profil-img img-in-div profil-img-size" [style]="{'background-image': 'url(' + company.profilePicture.addres + ')'}" >
                  <button style="top: 0; right: 0;" (click)="delImg(i)" *ngIf="!disabledEdit[i]"  class="btn btn-danger position-absolute">x</button>
                </div>
              </div>
            </ng-template>
            <ng-template #elseBlock>
              <input type="file" accept="image/*" value="" (change)="onFileChanged($event, i)" class="" id="file" [disabled]="disabledEdit[i]">
            </ng-template>
          </div>
        </td>
        <td>
          <button (click)="makeEnabledEdit(i)" *ngIf="disabledEdit[i]" class="btn btn-outline-warning">edytuj</button>
          <div class="mb-1">
            <button (click)="save(i)" *ngIf="!disabledEdit[i]" class="btn btn-outline-success">zapisz</button>
          </div>
          <div class="mt-1">
            <button (click)="makeEnabledEdit(i)" *ngIf="!disabledEdit[i]" class="btn btn-outline-warning">anuluj</button>
          </div>
        </td>
        <td>
          <button (click)="delete(i)" [disabled]="!disabledEdit[i]" class="btn btn-outline-danger">usuń</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>