<div class="container col-12 mt-5">
  <a [routerLink]="['/form-login']">
    <article class="card col-12 col-lg-2 offset-lg-3 d-inline-block text-center shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        Zaloguj jako klient
      </div>
    </article>
  </a>
  <a [routerLink]="['/form-login-company']">
    <article class="card col-12 col-lg-2 offset-lg-2 d-inline-block text-center shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        Zaloguj jako firma
      </div>
    </article>
  </a>
</div>
