<div class="col-12 mt-3">
      <div class="col-6 offset-3 d-inline-block border border-dark rounded-bottom shadow pt-4">
        <div class="col-12">
          <div class="col-12 border-bottom border-dark bg-green p-0">
            <h3 class="text-light py-3 pl-3 mb-0">
              e-mail
            </h3>
          </div>
          <div class="col-12 my-height my-3">
          <p class="col-12 float-left py-1 pl-3 mb-0">
            {{user.eMail}}
          </p>
        </div>
          <div class="col-12 border-bottom border-dark bg-green p-0">
            <h3 class="text-light py-3 pl-3 mb-0">
              imię
            </h3>
          </div>
          <div class="col-12 my-height my-3">
            <p class="col-12 float-left py-1 pl-3 mb-0">
              {{user.firstName}}
            </p>
          </div>
          <div class="col-12 border-bottom border-dark bg-green p-0">
            <h3 class="text-light py-3 pl-3 mb-0">
              nazwisko
            </h3>
          </div>
          <div class="col-12 my-height my-3">
            <p class="col-12 float-left py-1 pl-3 mb-0">
              <label>{{user.lastName}}</label>
            </p>
        </div>
          <div class="col-12 border-bottom border-dark bg-green p-0">
            <h3 class="text-light py-3 pl-3 mb-0">
              typ użytkownika
            </h3>
          </div>
          <div class="col-12 my-height my-3">
            <p class="col-12 float-left py-1 pl-3 mb-0">
              <label>{{permission}}</label>
            </p>
          </div>
          <div class="col-12 border-bottom border-dark bg-green p-0" *ngIf="user.permissions === permissions.COMPANY">
            <h3 class="text-light py-3 pl-3 mb-0">
              firma
            </h3>
          </div>
          <div class="col-12 my-height my-3">
            <p class="col-12 float-left py-1 pl-3 mb-0" *ngIf="user.permissions === permissions.COMPANY">
              <label>{{company.name}}</label>
            </p>
          </div>
        </div>
      </div>
</div>
